body {
    margin: 0;
}

.container  {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.hero {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    background-color: #1f2937;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.sign_up {
    width: 100px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
    border: #3882f6;

}

.right_hero {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 40px;
    display: flex;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.img-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 150px;
}

.image-box {
    height: 200px;
    width: 200px;
    border: #3882f6 solid 5px;
    border-radius: 16px;
}

.subtext {
    max-width: 200px;
    text-align: center;
    margin-top: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 780px;
}

.quote-author {
    font-size: 30px;
    color: #1f2937;
    font-weight: bold;
    margin-left: 500px;
}

.call-to-action {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
    gap: 150px;
    align-self: center;
}

.action-title {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.action-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.action-button {
    flex: 1;
    color: white;
    background-color: #3882f6;
    border-color: white;
    border: 2.5px solid;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}